.counter {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    row-gap: 20px;
}
 
.counter h1 {
    font-size: 40px;
    
}
 
.output {
    font-size: 40px;
    color: black;
}
 
.container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    column-gap: 20px;
}
 
.btn {
    font-size: 20px;
    padding: 10px 20px;
    border: 1px solid black;
    cursor: pointer;
    
}
 